<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dev Tech Blog</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <header class="dark">
    <nav class="flex-row justify-flex-start">
      <h2 class="mr-2"><a class="text-light" href="/">Home</a></h2>
      <h2 class="mr-2"><a class="text-light" href="/dashboard">Dashboard</a></h2>
      {{#if loggedIn}}
      <h2 class="mr-2 text-light"><a id="logout">Logout</a></h2>
      {{else}}
      <h2 class="mr-2"><a class="text-light" href="/login">Login</a></h2>
      {{/if}}
    </nav>
    <h1>
      <a class="ml-2 text-light" href="/">Dev Tech Blog</a>
    </h1>
  </header>
  <main class="align-center">
    {{{ body }}}
  </main>

  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>