{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <ol>
    {{#each posts as |post|}}
      {{> dashboard-postinfo post}}
    {{/each}}
  </ol>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>